*~
.*swp
*.la
*.lo
*.log
*.o
*.tar.gz
*.trs
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
/test-suite.log
Makefile
Makefile.in
TAGS
protobuf-c-rpc/libprotobuf-c-rpc.pc
t/test-rpc
*.pb-c.c
*.pb-c.h
